.wp-block-lazyblock-content-and-card {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }

  .content-wrap {
    max-width: 850px;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 45%;
    min-width: 350px;
    max-width: 450px;
    border-radius: 12px;
    background-color: #ffffff60;
    gap: 10px;

    @media only screen and (max-width: 768px) {
      width: 100%;
    }

    img {
      aspect-ratio: 5/4;
      object-fit: cover;
    }

    h3 {
      font-weight: 500;
      margin-top: 12px;
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }
  }
}

.wp-block-columns-is-layout-flex {
  align-items: center !important;
}

.wp-block-media-text>.wp-block-media-text__content {
  @media only screen and (max-width: 768px) {
    margin-top: 24px;
    padding-inline: 0;
  }
}

.wp-block-latest-posts {
  margin-top: 38px;

  li {
    width: auto !important;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 0 !important;
    border-radius: 12px;
    background-color: #ffffff60;

    p {
      margin: 0;
    }
  }

  &__list.is-grid {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);

    @media only screen and (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__featured-image a {
    width: 100%;

    img {
      object-fit: cover;
      width: 100%;
      aspect-ratio: 3/2;
    }
  }

  &__post-excerpt {
    line-height: 1.6;
    font-weight: 200;
    font-size: 19px;
  }

  &__post-title {
    font-weight: 500;
    font-size: 26px;
    margin-top: 12px;
    text-decoration: none;
    margin-bottom: 0;
    color: var(--secondary-color-500);
  }
}
