footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--neutral-color-0);
  padding-block: 100px;
  margin-top: 100px;
  gap: 24px;

  @media only screen and (max-width:1200px){
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &::after {
    position: absolute;
    top: 0;
    left: -25vw;
    bottom: 0;
    width: 150vw;
    background-color: var(--secondary-color-500);
    content: '';
    z-index: -1;
  }

  h2 {
    font-size: 28px;
  }

  a {
    color: var(--neutral-color-0);
  }

  .wp-block-button {
    &.is-style-outline a {
      border-color: var(--neutral-color-0);
      color: var(--neutral-color-0);

      &:hover {
        color: var(--neutral-color-0);
        border-color: var(--primary-color-500);
      }
    }

    &:not(.is-style-outline) a:hover {
      border-color: var(--primary-color-100);
      color: var(--secondary-color-500);
      background-color: var(--primary-color-100);
    }
  }
}
