.wpcf7 {
  display: flex;
  justify-content: center;

  form {
    background-color: #FFFFFF60;
    border-radius: 12px;
    padding: 34px 42px;
    max-width: 550px;
    width: 100%;

    p {
      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    label {
      font-family: 'Big Shoulders', sans-serif;
      font-weight: 400;
      display: flex;
      flex-direction: column;

      input,
      textarea {
        font-family: "League Spartan", sans-serif;
        border: none;
        font-size: 18px;
        font-weight: 300;
        padding: 12px 14px;
        border-radius: 3px;
      }

      .wpcf7-form-control-wrap {
        display: flex;
        flex-direction: column;
      }
    }

    .wpcf7-submit {
      font-family: 'Big Shoulders', sans-serif;
      display: inline-block;
      color: var(--neutral-color-0);
      background-color: var(--primary-color-500);
      border: solid 2px var(--primary-color-500);
      transition: all ease-in-out 250ms;
      padding: 10px 20px;
      font-size: 19px;
      cursor: pointer;
      border-radius: 8px;

      &:hover {
        border-color: var(--secondary-color-500);
        color: var(--neutral-color-0);
        background-color: var(--secondary-color-500);
      }
    }
  }
}
