@use './vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=League+Spartan:wght@100..900&display=swap');
body {
  color: var(--secondary-color-500);
  font-family: "League Spartan", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 18px;
  margin-top: 0;
  font-family: 'Big Shoulders', sans-serif;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 46px;
}


h3 {
  font-weight: 400;
  font-size: 34px;
}

p {
  font-size: 19px;
  font-weight: 300;
  line-height: 1.6;
}

a {
  color: var(--primary-color-500);
}
